* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    line-height: 1.6;
    color: #222;
}

/* Header */
.header {
    min-height: 100vh;
    background: #b8628a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius:5px;

}

.header h1 {
    font-size: 3rem;
}

.header p {
    margin: 10px 0 20px;
    color: #d6d6d6;
}

.btn {
    background: crimson;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    background: #c0392b;
}

/* Sections */
.section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

.section.light {
    background: #f1e2e2;
    margin-bottom: 50px;
    border-radius: 5px;
}

h2 {
    margin-bottom: 20px;
}

/* Projects */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    border: 1px solid #eeecec;
    padding: 20px;
    border-radius: 6px;
}
.card:hover{
    background-color:#fff ;
    border: 1px solid #f0e5e5;
}

/* Skills */
.skills {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills li {
    background: #eee;
    padding: 8px 14px;
    border-radius: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.skill-group h3 {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.skill-group ul {
    list-style: none;
    padding-left: 0;
}

.skill-group li {
    background: #eee;
    display: inline-block;
    padding: 6px 12px;
    margin: 5px 5px 0 0;
    border-radius: 20px;
    font-size: 0.9rem;
}
.home-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.home-photo {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid crimson;
}

.home-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
